.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.mb-8 {
  margin-bottom: 2rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.border {
  border-width: 1px
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}
